* {
	box-sizing: border-box;

}
html, body {
	
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 12pt;
	margin: 0;
	color: rgb(37, 29, 41);
	background-color: rgba(37, 29, 41,.05);
	font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
}

body > * {
	flex-grow: 1;
}

header {
	font-size: 1.75rem;
	padding: 1.5rem 2rem;
	max-height: 4.5rem;
	background-color: rgb(37, 29, 41);
	color: white;
	box-shadow: 0px 5px 12px rgba(0,0,0,.3);
	z-index: 2;
}
h1, h2, h3 {
	line-height: 1;
	font-weight: 200;
}
h1 {
	margin: 0;
	font-size: 1.5rem;
}
h2 {
	font-size: 1.5rem;
	margin-top: 3rem;
	margin-bottom: 1em;
}
h2:first-child,
p:first-child {
	margin-top: 0;
}
progress {
	/* Reset the default browser styles */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;

	/* Custom styles */
	width: 400px;
	height: 20px;
	margin: 1em auto 0;

}
	progress::-webkit-progress-bar {
		border-radius: 20px;
		padding: 5px 7px;
		background-color: rgba(255,255,255,.2);
	}
	progress::-webkit-progress-value {
		border-radius: 10px;
		background-color: #e31e89;
	}


.label {
	opacity: .7;
	font-size: .9rem;
}
.upload-image {
	background-color: rgba(37, 29, 41,.05);
	padding: 1rem;
	position: relative;
}

.overlay {
	position: fixed;
	background-color: rgba(37, 29, 41,.8);
	width: 100%;
	height: 100%;
	z-index: 100;
	text-align: center;
	display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.file-input {
	opacity: 0;
	position: absolute;
	left: -1000px;
}
.file-input + .label {
	display: inline-block !important;
}
.file-input + .label,
button,
a.button {
	display: inline-block;
	margin: 0;
	font-size: 11pt;
	cursor: pointer;
	box-shadow: none;
	outline: none;
	border: none;
	opacity: 1;
	line-height: 1;
	padding: .8em 1em .7em;
	text-transform: uppercase;
	font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
	letter-spacing: 1px;
	border-radius: 4px;
	background-color: rgba(255,255,255, .3);
	border: 2px solid rgb(37, 29, 41);
	color: rgb(37, 29, 41);
	fill: rgb(37, 29, 41);
	transition: all .3s ease;
	text-decoration: none;
	text-align: center;
}
.primary-action,
.file-input + .label.primary-action {
	border: 2px solid #e31e89;
	color: #e31e89;
	fill: #e31e89;
}

.file-input + .label:hover,
button:hover,
a.button:hover {
	color: white;
	fill: white;
	background-color: rgba(37, 29, 41, 1);
	cursor: pointer !important;
}
.primary-action:hover,
.file-input + .label.primary-action:hover {
	border: 2px solid #e31e89;
	background-color: #e31e89;
}
.image-name {
	margin: .75rem 0 .5rem;
}
.prev-img {
	max-width: 100%;
	height: auto;
}
.visualization {	
	width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
    margin-bottom: 10px;
}

.visualization--color-distro {
	background: -webkit-linear-gradient(left, #fff, #6f6f6f);
	background: -ms-linear-gradient(left, #fff, #6f6f6f);
	background: -moz-linear-gradient(left, #fff, #6f6f6f);
}
	.visualization svg {
		width: 100%;
	}
	
.legend {
	position: relative;
	overflow: hidden;
    height: 20px;
}
	.legend .label {
		position: absolute;
		bottom: 0;
	}
	.label--dist-dark {
		left: 0;
	}
	.label--dist-light {
		right: 0;
	}
.graph__axis {
	stroke: rgba(0,0,0,.1);
}
.graph__dot {
	/*fill: rgb(40, 39, 41);*/
	stroke: none;
}
.graph__range {
	fill: rgba(37, 29, 41, .8);
}
.graph__inner-quart {
	fill: rgba(37, 29, 41, .15);
}
.graph__med {
	fill: rgba(37, 29, 41, 1);
}
.graph__avg {
	fill: #e31e89;
}


.field--stacked {
	display: block;
	margin-bottom: 1em;
}
	.field--stacked:last-child {
		margin-bottom: 0;
	}
	.field--stacked .label {
		display: block;
	}
	.field--stacked .value,
	.field--stacked input {
		display: block;
		height: 1.2rem;
		padding: .1rem 0;
	}
.columns {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: stretch;
}
.columns > * {
	flex-grow: 1;
}
.panel {
	padding: 2rem;
}
	.panel--input {
		overflow: auto;
	}
	.panel--results {
		background-color: white;
		box-shadow: -5px 0px 12px rgba(0,0,0,.05);
		overflow-y: auto;
	}

@media (min-width: 1200px) {
	body {
		font-size: 16pt;
	}
	.file-input + .label,
	button,
	a.button {
		font-size: 13pt;
	}
}
