* {
	box-sizing: border-box;

}
html, body {
	
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 16pt;
	margin: 0;
	color: rgb(37, 29, 41);
	background-color: rgba(37, 29, 41,.05);
	font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
}
body > * {
	flex-grow: 1;
}

header {
	font-size: 1.75rem;
	padding: .75em 2rem;
	max-height: 2.5em;
	background-color: rgb(37, 29, 41);
	color: white;
	box-shadow: 0px 5px 12px rgba(0,0,0,.3);
	z-index: 2;
}
h1, h2, h3 {
	line-height: 1;
	font-weight: 200;
}
h1 {
	margin: 0;
	font-size: 1em;
}
h2 {
	font-size: 1.5rem;
	margin-top: 2em;
	margin-bottom: 1em;
}
h2:first-child,
p:first-child {
	margin-top: 0;
}
.label {
	opacity: .7;
	font-size: .9rem;
}

.upload-image {
	background-color: rgba(37, 29, 41,.05);
	padding: 1rem;
	position: relative;
}
.submit {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.overlay {
	position: fixed;
	background-color: rgba(37, 29, 41,.8);
	width: 100%;
	height: 100%;
	z-index: 100;
	text-align: center;
	display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.file-input {
	opacity: 0;
	position: absolute;
	left: -1000px;
}
.file-input + .label {
	display: inline-block !important;
}
.file-input + .label,
button,
a.button {
	display: inline-block;
	font-size: 1rem !important;
	cursor: pointer;
	box-shadow: none;
	outline: none;
	border: none;
	opacity: 1;
	line-height: 1;
	padding: .75rem 1rem;
	text-transform: uppercase;
	font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
	letter-spacing: 1px;
	border-radius: 4px;
	background-color: rgba(255,255,255, .1);
	border: 2px solid rgb(37, 29, 41);
	color: rgb(37, 29, 41);
	fill: rgb(37, 29, 41);
	transition: all .3s ease;
	text-decoration: none;
}
.primary-action,
.file-input + .label.primary-action {
	border: 2px solid #e31e89;
	color: #e31e89;
	fill: #e31e89;
}

.file-input + .label:hover,
button:hover,
a.button:hover {
	color: white;
	fill: white;
	background-color: rgba(37, 29, 41, .8);
	cursor: pointer !important;
}
.primary-action:hover,
.file-input + .label.primary-action:hover {
	border: 2px solid #e31e89;
	background-color: #e31e89;
}
.image-name {
	margin: .75rem 0 .5rem;
}
.prev-img {
	max-width: 100%;
	height: auto;
}
.lum-dist {
	position: relative;
	width: 100%;
	margin: auto;
	padding-bottom: 1em;
}
	.lum-dist svg {
		width: 100%;
	}
	.label--dist-dark {
		left: 0;
	}
	.label--dist-light {
		right: 0;
	}
	.lum-dist .label {
		position: absolute;
		bottom: 0;
	}
.graph__axis {
	stroke: rgba(0,0,0,.1);
}
.graph__dot {
	fill: rgb(37, 29, 41);
	opacity: .007;
	stroke: none;
}
.graph__range {
	fill: rgba(37, 29, 41, .8);
}
.graph__inner-quart {
	fill: rgba(37, 29, 41, .3);
}
.graph__avg {
	fill: rgba(37, 29, 41, 1);
}


.field--stacked {
	display: block;
	margin-bottom: 1em;
}
	.field--stacked:last-child {
		margin-bottom: 0;
	}
	.field--stacked .label {
		display: block;
	}
	.field--stacked .value,
	.field--stacked input {
		display: block;
		height: 1.2rem;
		padding: .1rem 0;
	}
.columns {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: stretch;
}
.columns > * {
	flex-grow: 1;
}
.panel {
	padding: 2rem;
	max-width: 50%;
}
	.panel--input {
		
		overflow: auto;
	}
	.panel--results {
		background-color: white;
		box-shadow: -5px 0px 12px rgba(0,0,0,.05);
		overflow-y: auto;
	}
